#object{
	display: flex;
}
#left{
	width: 200px;
	height: auto;
	background-color: white;
}
#right{
	display: flex;
	width: 124px;
	height: auto;
	background-color: white;	
}
#object img{
	display:inline;
	vertical-align:middle;
	box-shadow: 0 0 10px #555;
	border-radius: 6px;
	width: 198px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px #555;
}

